@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-instrument-serif);
  --font-mono: var(--font-jetbrains-mono);
}

html {
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-instrument-serif);
  --font-mono: var(--font-jetbrains-mono);
  --font-heading: var(--font-instrument-serif);
}

:root {
  /* Enforce dark mode by default */
  --background: #050505;
  --foreground: #ededed;

  /* Custom grays for the brutalist/minimalist look */
  --muted: #888888;
  --muted-dark: #333333;
  --border: #262626;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), Georgia, serif;
  font-weight: 400;
  /* Editorial style usually lighter weights */
  letter-spacing: -0.02em;
}

/* Custom utilities if needed */
.text-muted {
  color: var(--muted);
}